{% extends "layout.html" %}
{% block title %}Admin{% endblock %}

<!--{% block username %}Admin{% endblock %}-->

{% block head %}
 {{ super() }}
 <link href="/static/styles/index.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    {{ super() }}     
{% endblock %}

{% block content %}
<main>
<!--<body> -->
<a href="admin/approved_notetakers" role="button" class="btn btn-primary" id="approved_notetakers">Approved Notetakers</a>
<br><br>
<a href="admin/unapproved_notetakers" role="button" class="btn btn-primary" id="unapproved_notetakers">Unapproved Notetakers</a>
<br><br>
<a href="admin/approved_noterequesters" role="button" class="btn btn-primary" id="approved_noterequesters">Approved Noterequesters</a>
<br><br>
<a href="admin/unapproved_noterequesters" role="button" class="btn btn-primary" id="unapproved_noterequesters">Unapproved Noterequesters</a>
<br><br>
<a href="admin/students" role="button" class="btn btn-primary" id="all_students">All Students</a>
<br><br>
<a href="admin/feedback" role="button" class="btn btn-primary" id="feedback">Feedback</a>
<br><br>
<a href="admin/matches" role="button" class="btn btn-primary" id="matches">Matches</a>

<!--<ul class="nav nav-pills nav-stacked col-md-2">
    <li class="active"><a href="#students" data-toggle="pill">Student List</a></li>
    <li><a href="admin/matches" data-toggle="pill">Matches</a></li>
    <li><a href="admin/feedback" data-toggle="pill">Feedback</a></li>
</ul>
<div class="tab-content col-md-26">
    <div class="tab-pane" id="students">
	    {% include "partials/admin-students.html" %}
    </div>
    <div class="tab-pane" id="matches">
	    {% include "partials/admin-matches.html" %}
    </div>
    <div class="tab-pane" id="feedback">
	    {% include "partials/admin-feedback.html" %}
    </div>
</div> -->	
<!--</body>-->

</main>
{% endblock %}
