{% extends "layout.html" %}
{% block title %}Admin{% endblock %}

{% block head %}
	{{ super() }}
	<link href="/static/styles/admin.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    {{ super() }}     
{% endblock %}

{% block content %}
<main>
    <!--a href="admin/students">
    	<div class="triBlock"><span>Student</span></div>
    </a>
    <a href="admin/matches">
    	<div class="triBlock"><span>Matches</span></div>
    </a>
    <a href="admin/feedback">
    	<div class="triBlock"><span>Feedback</span></div>
    </a-->


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 triBlock0"><a href="admin/students"><span>Student</span></a></div>
    <div class="col-xs-4 triBlock0"><a href="admin/matches"><span>Matches</span></a></div>
    <div class="col-xs-4 triBlock0"><a href="admin/feedback"><span>Feedback</span></a></div>
  </div>
</div>

<!--a href="admin/approved_notetakers" role="button" class="btn btn-primary" id="approved_notetakers">Approved Notetakers</a>
<br><br>
<a href="admin/unapproved_notetakers" role="button" class="btn btn-primary" id="unapproved_notetakers">Unapproved Notetakers</a>
<br><br>
<a href="admin/approved_noterequesters" role="button" class="btn btn-primary" id="approved_noterequesters">Approved Noterequesters</a>
<br><br>
<a href="admin/unapproved_noterequesters" role="button" class="btn btn-primary" id="unapproved_noterequesters">Unapproved Noterequesters</a>
<br><br>
<a href="admin/students" role="button" class="btn btn-primary" id="all_students">All Students</a>
<br><br>
<a href="admin/feedback" role="button" class="btn btn-primary" id="feedback">Feedback</a>
<br><br>
<a href="admin/matches" role="button" class="btn btn-primary" id="matches">Matches</a-->


</main>
{% endblock %}
