{% extends "layout.html" %}
{% block title %}Admin{% endblock %}

{% block head %}
 {{ super() }}
 <link href="/static/styles/main.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    {{super()}}
{% endblock %}

{% block content %}
<main>

<body>

<div class="container">

<header>
   <h1>Feedback for GT Scribe</h1>
</header>
  
<table style="width:100%">
  <tr>
    <th>Username</th>
    <th>Message</th>
  </tr>
  {% for user in users %}
  <tr>
    <td><div>{{user["username"]}}</div></td>
    <td><div>{{user["feedback_text"]}}</div></td>
  </tr>
  {% endfor %}
</table>


</div>

</body>

</main>
{% endblock %}
