{% extends "layout.html" %}
{% block title %}Admin Student View{% endblock %}

{% block head %}
    {{ super() }}
    <link href="/static/styles/admin.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
        {{super()}}
{% endblock %}

{% block content %}
<main>

    {% include "partials/admin-links.html" %}
    
    {% include "partials/approved-noterequesters.html" %}
    <br />
    {% include "partials/unapproved-noterequesters.html" %}
    <br />
    {% include "partials/approved-notetakers.html" %}
    <br />
    {% include "partials/unapproved-notetakers.html" %}

</main>
{% endblock %}
