{% extends "layout.html" %}
{% block title %}Admin Student Matches{% endblock %}

{% block head %}
 {{ super() }}
 <link href="/static/styles/admin.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
		{{super()}}
{% endblock %}

{% block content %}
<main>

	
	{% include "partials/admin-links.html" %}
	<div class="panel panel-default">
		<div class="panel-heading">
			Existing Matches
		</div>
		
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover" style="width:100%">
				{% if matches_list|length == 0 %} 
                    <thead>
                    <tr>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>No matches yet!</td>
                        </tr>
                </tbody>
                {% else %}
					<thead>
						<tr>
							<th>Notetaker</th>
							<th>Note-Requester</th>
							<th>Course</th>
						</tr>
					</thead>
					<tbody>
						{% for match in matches_list %}
							<tr>
								<td>{{match[0]["username"] + " (" + match[0]["first_name"] + " " + match[0]["last_name"] + ")" }}</td>
								<td>{{match[1]["username"] + " (" + match[1]["first_name"] + " " + match[1]["last_name"] + ")" }}</td>
								<td>{{match[2]["subject"]}} {{match[2]["course_number"]}} Section {{match[2]["section"]}}</td>
							</tr>
						{% endfor %}
					</tbody>
					{% endif %}
				</table>
			</div>
		</div>
	</div>

</main>
{% endblock %}
