{% extends "layout.html" %}
{% block title %}Admin{% endblock %}

{% block head %}
	{{ super() }}
	<link href="/static/styles/admin.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    {{ super() }}     
{% endblock %}

{% block content %}
<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 triBlock0"><a href="admin/students"><span>Student</span></a></div>
	    	<div class="col-xs-4 triBlock0"><a href="admin/matches"><span>Matches</span></a></div>
	    	<div class="col-xs-4 triBlock0"><a href="admin/feedback"><span>Feedback</span></a></div>
		</div>
	</div>
</main>
{% endblock %}
