{% extends "layout.html" %}
{% block title %}Admin{% endblock %}

{% block head %}
 {{ super() }}
 <link href="/static/styles/main.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    {{super()}}
{% endblock %}

{% block content %}
<main>

<body>

<div class="panel panel-default">
  <div class="panel-heading">
    Current Matches
  </div>
  
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover" style="width:100%">
        <tr>
          <th>Notetaker Name</th>
          <th>Noterequester Name</th>
          <th>Course</th>
        </tr>
      {% for match in matches_list %}
        <tr>
          <td><div>{{match[0]["first_name"]}}</div></td>
          <td><div>{{match[1]["first_name"]}}</div></td>
          <td><div>{{match[2]["subject"]}} {{match[2]["course_number"]}} {{match[2]["section"]}}</div></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>

</body>

</main>
{% endblock %}
