{% extends "layout.html" %}
{% block title %}Note-Requester{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/styles/selectCourses.css" rel="stylesheet">
{% endblock %}

{% block username %}{{username}}{% endblock %}
{% block bodyHeader %}
    {{ super() }}
    
{% endblock %}
{% block content %}
<main>
	Welcome {{username}}! We're glad you want to help out your classmates! Please select the courses you're willing to take notes from. <br />
	{% if userType == "REQUESTER" %}
		You're a requester!!
	{% else %}
		You're a taker!!
	{% endif %}

	{% include "partials/enroll-courses-template.html" %}

</main>

<script src="/static/scripts/selectCourses.js"></script>
{% endblock %}
