{% extends "layout.html" %}
{% block title %}Course Selection{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/styles/selectCourses.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    {{ super() }}     
{% endblock %}

{% block content %}
<main>
	{% if userType == "REQUESTER" %}
		We're excited to help match you with your classmates! Select the courses you would like to receive notes for.
	{% else %}
		We're excited you're ready to help your classmates! Select the courses you would like to volunteer to take notes for.
	{% endif %}

	{% include "partials/enroll-courses-template.html" %}

</main>

<script src="/static/scripts/selectCourses.js"></script>
{% endblock %}
