{% extends "layout.html" %}
{% block title %}Course Selection{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/styles/select-courses.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    {{ super() }}     
{% endblock %}

{% block content %}
<main>
	{% if userType == "REQUESTER" %}
		<h2 class="select-courses-title">Select below for the courses you are receiving notes.</h2>
	{% else %}
		<h2 class="select-courses-title">Select below for the courses you are taking notes.</h2>
	{% endif %}

	{% include "partials/enroll-courses-template.html" %}

</main>

<script src="/static/scripts/selectCourses.js"></script>
{% endblock %}
