{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <link href="/static/styles/index.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    <img src="/static/images/gtscribe-logo.png">
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
      <h1 class="display-3">Notetaking made simple.</h1>
      <div class="dropdown">
        <!-- <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
          Login as ...
        <!-- </button> -->
<!--         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="admin">Admin</a>
          <a class="dropdown-item" href="requester">Note Requester</a>
          <a class="dropdown-item" href="taker">Note Taker</a>
        </div> -->

        <select onchange="location = this.value;">
          <option value="blank">Select one</option> <!--these are NOT .html, it's a routing thing, so just put the name of it-->
          <option value="taker">Notetaker</option>
          <option value="requester">Note-Requester</option>
          <option value="admin">Admin</option>
        </select>
        <!-- <button type="button">Go</button> -->
      </div>
    </div>
    <div class="row options">
      <div class="col-md-6">
        <h4><u>Note-Requestor</u></h4>
        <p>Sign up to receive courses you are enrolled in this semester.</p>
      </div>
      <div class="col-md-6">
        <h4><u>Notetaker</u></h4>
        <p>Sign up to be a paid notetaker for other students.</p>
      </div>
    </div>
{% endblock %}
