{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/styles/main.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    {{super()}}
{% endblock %}

{% block content %}

<style>
    footer {
        width: 55.25% !important;
    }
</style>

<main>
    <div class="jumbotron text-center">
        <h1 class="display-3">Notetaking made simple.</h1>
        <a href="register"><button type="button" class="btn btn-style" id="black-btn">Register</button></a>
        <a href="login"><button type="button" class="btn btn-style" id="gold-btn">Login</button></a>
    </div>
    <div class="row options">
        <div class="col-md-6">
            <h4><u>Note-Requester</u></h4>
            <p>Sign up to receive notes for courses you are enrolled in this semester.</p>
        </div>
        <div class="col-md-6">
            <h4><u>Notetaker</u></h4>
            <p>Sign up to be a paid notetaker for other students.</p>
        </div>
    </div>
</main>

{% endblock %}
