<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Note taking and requesting app for GaTech">
        <meta name="author" content="GTScribe">
        
        <!-- Title -->
        <title>{% block title %}{% endblock %} | GTScribe</title>
        
        <!-- Stylesheets -->
        <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles/header.css" rel="stylesheet">
        <link href="/static/styles/footer.css" rel="stylesheet">

        <!-- JavaScript: jQuery, Tether, Bootstrap, then GTScribe -->
        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/static/bower_components/tether/dist/js/tether.min.js"></script>
        <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body class="container">
        <header class="clearfix">
            {% block bodyHeader %}
            <div class="row">
                <div class="col-xs-6 header-logo">
                    <a href="/"><img id="logo" src="/static/images/gtscribe-logo.png" /></a>
                </div>
                <div class="col-xs-6">
                    {% if username != NULL %}
                        <h3>Hello, {% block username %}User{% endblock %}!</h3>
                    <br/>
                    {% endif %}
                    {% if userType!= NULL %}
                        <a href="{{ url_for('logout') }}" role="button" class="btn btn-primary" id="logoutButton">Log Out</a>
                    {% endif %}  
                    {% if userType == "REQUESTER" %}
                        <a href="{{ url_for('feedback') }}" role="button" class="btn btn-primary" id="contactButton">Contact</a>
                    {% endif %}  
                </div>
            </div>

            {% endblock %}
        </header>

        {% block content %}
            
	    {% endblock %}

        <footer>
            {% block footer %}
                <a href="http://www.gatech.edu" target="_blank"><img src="http://www.gatech.edu/sites/all/themes/gt/images/logos/gt-logo-footer-retina.png" alt="Georgia Tech Logo" /></a><br />
                <div class="text">
                    &copy; 2016 GTScribe. All rights reserved.
                </div>
            {% endblock %}
        </footer>
    </body>
</html>

