{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ super() }}
    <!--link href="/static/styles/index.css" rel="stylesheet"-->
{% endblock %}

{% block username %}Notetaker{% endblock %}
{% block bodyHeader %}
    {{ super() }}
        
{% endblock %}
{% block content %}
    <main>
        <h2>Please upload notes below.</h2>
        <form class="form-group" enctype="multipart/form-data">
            <legend>Upload Notes</legend>
            <input class="file-upload" data-icon="false" type="file">
            <button type="button" class="btn btn-primary upload-btn">Upload</button>
        </form>
    </main>

<script src="/static/scripts/file-upload.js"></script>
{% endblock %}