{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <link href="/static/styles/index.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    <img src="/static/images/gtscribe-logo.png">
{% endblock %}

{% block content %}

     <div class="jumbotron text-center">
          <h2 class="display-3">Register as a New User</h1>
          <form role="form" id="registerUserForm" name="registerUser" >
               First name: <input type="text" name="FirstName" id="firstNameInput" required><br />
               Last name: <input type="text" name="LastName" id="lastNameInput" required><br />
               GaTech Username: <input type="text" name="Username" id="usernameInput" required><br />
               Password: <input type="password" name="Password" id="passwordInput" required><br />
               <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" required>
                         I am a...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                         <a class="dropdown-item" value="admin">Admin</a>
                         <a class="dropdown-item" value="requester">Note Requester</a>
                         <a class="dropdown-item" value="taker">Note Taker</a>
                    </div>
               </div>
               <button type="submit">Register Account</button>
          </form>
     </div>

     <script src="/static/scripts/registerUser.js"></script>

{% endblock %}
