{% extends "layout.html" %}
{% block title %}Account Created!{% endblock %}
{% block head %}
    {{ super() }}
	<link href="/static/styles/main.css" rel="stylesheet">
	<link href="/static/styles/register.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
	{{super()}}
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
	<h2 class="display-3">Thanks for registering!</h2>
	<div class="container">
        <h4>Now that your account is ready, please login.</h4><br />
        <a href="/login"><button type="button" class="btn btn-style" id="black-btn">Login</button></a>
	</div>
</div>

<script src="/static/scripts/registerUser.js"></script>
{% endblock %}
