{% extends "layout.html" %}
{% block title %}Notetaker{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/styles/selectCourses.css" rel="stylesheet">
{% endblock %}

{% block username %}{{username}}{% endblock %}
{% block bodyHeader %}
    {{ super() }}
        
{% endblock %}
{% block content %}
    <main>
        <h1>This page is currently not being used.</h1><br />
    Welcome {{username}}! Please select the courses you'd like to receive notes for.
    <br />

    {% include "partials/enroll-courses-template.html" %}

</main>

<script src="/static/scripts/selectCourses.js"></script>
{% endblock %}