<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Note taking and requesting app for GaTech">
    <meta name="author" content="GTScribe">
    
    <!-- Title -->
    <title>Taker | GTScribe</title>
    
    <!-- Stylesheets -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/header.css" rel="stylesheet">
    <link href="/styles/footer.css" rel="stylesheet">

     <!-- JavaScript: jQuery, Tether, Bootstrap, then GTScribe -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body class="container">
	  <header class="clearfix">
      <div class="row">
        <div class="col-xs-6">
          <img src="gtscribe-logo.png">
        </div>
        <div class="col-xs-6">
          <h3>Hello, Notetaker!</h3>
        </div>
      </div>
	  </header>
	  <main>Please select which classes you would like to take notes for from the list below.
        <form action="">
        <input type="checkbox" name="class" value="CS 2200">CS 2200<br>
        <input type="checkbox" name="class" value="MATH 3012">MATH 3012<br>
        <input type="checkbox" name="class" value="CS 3750">CS 3750<br>
        <input type="checkbox" name="class" value="CS 4460">CS 4460<br>
        </form>
        <button type="button">Submit</button>

    </main>
	  <footer>
	    <p>&copy; GTScribe 2016</p>
	  </footer>
  </body>
</html>