{% extends "layout.html" %}
{% block title %}
    {% if userType == "REQUESTER" %}
        Download
    {% else %}
        Upload
    {% endif %}
    Notes
{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/styles/upload-download.css" rel="stylesheet">
{% endblock %}

{% block bodyHeader %}
    {{ super() }}
{% endblock %}

{% block username %}user{% endblock %}

{% block content %}
    <main>
        <h2>{{course.subject}} {{course.course_number}} section {{course.section}} Note Repository</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col"><span>
                    {% if userType == "TAKER" %}
                    <form class="form-group" enctype="multipart/form-data" id="uploadNotes">
                        <legend>Upload Notes</legend>
                        <input class="file-upload" data-icon="false" type="file">
                        <button type="submit" class="btn upload-btn">Upload</button>
                    </form>
                    {% else %}
                    Have a problem with notes for this class?<br />
                    <a href="{{ url_for('feedback') }}"><button role="button" class="btn btn-style" id="contactButton">Give Feedback</button></a>
                    {% endif %}
                </span></div>
                <div class="col-md-8 col"><span>
                    <h2>Note History</h2>
                    {% if files|length < 1 %}
                        Looks like there's no files yet!
                    {% else %}
                    <table id="noteHistory" class="table table-hover">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Upload Date</th>
                            </tr>
                        </thead>
                        {% for file in files %}
                        <tr>
                            <td>
                                {% if userType == "TAKER" %}
                                <button class="btn btn-danger btn-sm">X</button> 
                                {% endif %}
                                <a href="{{file.course_id}}/{{file.file_id}}" role="button" class="btn btn-warning" download>{{file.file_name}}</a>
                            </td>
                            <td>
                                {{file.timestamp}}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </span></div>
        </div>
    </main>

<script src="/static/scripts/file-upload.js"></script>
{% endblock %}
