{% extends "layout.html" %}
{% block title %}
    {% if userType == "REQUESTER" %}
        Download
    {% else %}
        Upload
    {% endif %}
    Notes
{% endblock %}
{% block head %}
    {{ super() }}
    <!--css goes here-->
{% endblock %}

{% block bodyHeader %}
    {{ super() }}
{% endblock %}

{% block content %}
    <main>
    	{% if userType == "REQUESTER" %}
    		Select the day you'd like to download notes from. 
    	{% else %}
	    	<h2>Thanks for uploading your notes daily!</h2><br />
	        <form class="form-group" enctype="multipart/form-data" id="uploadNotes">
	            <legend>Upload Notes</legend>
	            <input class="file-upload" data-icon="false" type="file">
	            <button type="submit" class="btn btn-primary upload-btn">Upload</button>
	        </form>
    	{% endif %}

    	To access the user's username here, do it like this { { username } } (without any spaces)<br />
    	To access the user's type, do this { { userType } }<br />
    	To access the user's course_id you selected, use { { course_id } }<br />
    	Currently, that's all that's available to access from here. To add more, do it from the route.py file, /notes/< int : course_id > route.
    </main>

<script src="/static/scripts/file-upload.js"></script>
{% endblock %}
