<!--enroll-courses-template.html-->

<form id="selectClass">
	<div class="courseSubject">
		<div class="titleBlock">
			Select course subject
		</div>
		<div class="scroll">
			<!--ol-->
			{% for subject in subjects %}
			<!--loop.index0 starts at index 0, loop.index starts at 1-->
			    <div class="subject" id="{{subjects[loop.index0]}}">{{subjects[loop.index0]}}</div>
			{% endfor %}
			<!--/ol-->
		</div>
	</div>
	<div class="courseNumber">
		<div class="titleBlock">
			Select course number
		</div>
		<div class="scroll">
		</div>
	</div>
	<div class="courseSection">
		<div class="titleBlock">
			Select course section
		</div>
		<div class="scroll">
		</div>
	</div>
	<div class="selectedCourseBlock">
		<div class="currCourse">
			I want to ~take/receive~ notes for <div id="currCourse">...</div>
		</div>
		<button type="submit" class="btn btn-primary">Add Course to My Schedule</button>
	</div>
</form>

<br />


<br />

<div class="mySchedule">
	<div class="titleBlock">
			My Schedule
		</div>
	{% for course in myCourses %}
		<div class="enrolledCourse" crn="{{course['crn']}}">
			<a href="#">[remove course, currently not functional]</a>
			{{course.subject}} {{course.course_number}} section number {{course.section}}
		</div>
	{% endfor %}
</div>

