<!--enroll-courses-template.html-->

<!--form id="selectClass"-->
	<!--div class="courseBlock courseSubject">
		<div class="titleBlock">
			<h1>1</h1>
			<div class="step">Course Subject</div>
		</div>
		<div class="scroll">
			{% for subject in subjects %}
			    <div class="subject" id="{{subjects[loop.index0]}}">{{subjects[loop.index0]}}</div>
			{% endfor %}
		</div>
	</div>
	<div class="courseBlock courseNumber">
		<div class="titleBlock">
			<h1>2</h1>
			<div class="step">Course Number</div>
		</div>
		<div class="scroll">
		</div>
	</div>
	<div class="courseBlock courseSection">
		<div class="titleBlock">
			<h1>3</h1>
			<div class="step">Course Section</div>
		</div>
		<div class="scroll">
		</div>
	</div-->
	<!--div class="selectedCourseBlock">
		<div class="currCourse">
			<h3>
				I want to {% if userType == "REQUESTER" %} receive{% else %} take{% endif %} notes for 
				<div id="currCourse">...</div>
			
		
			<button type="submit" class="btn btn-style">Add Course to Schedule</button>
			</h3>
		</div>
	</div-->
<!--/form-->


<!--div class="mySchedule">
	<div class="titleBlock">
		My Schedule
	</div>
	<div class="scroll">
		{% for course in myCourses %}
			<div class="enrolledCourse" crn="{{course['crn']}}">
				<button class="btn btn-danger btn-sm delete" id="{{course['crn']}}">X</button>
				{{course.subject}} {{course.course_number}} section {{course.section}}
			</div>
		{% endfor %}
	</div>
</div>

<a href="my-classes" class="btn matchButton" role="button">Check Matched Classes</a>
<br />
<br /-->

<form id="selectClass">
<div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 courseSubject block">
                    <div id="matches"><!--span-->
                        <div class="titleBlock">
							<h1>1</h1>
							<div class="step">Course Subject</div>
								<div class="scroll">
									{% for subject in subjects %}
									<!--loop.index0 starts at index 0, loop.index starts at 1-->
									    <div class="subject" id="{{subjects[loop.index0]}}">{{subjects[loop.index0]}}</div>
									{% endfor %}
								</div>
						</div>
                    <!--/span--></div>
                </div>

                <div class="col-sm-4 courseNumber block">
                    <div id="unmatched"><!--span-->
                        <div class="titleBlock">
							<h1>2</h1>
							<div class="step">Course Number</div>
							<div class="scroll">
							</div>
						</div>
                    <!--/span--></div>
                </div>

                <div class="col-sm-4 courseSection block">
                    <div id="unmatched"><!--span-->
                        <div class="titleBlock">
							<h1>3</h1>
							<div class="step">Course Section</div>
							<div class="scroll">
							</div>
						</div>
                    <!--/span--></div>
                </div>

                <div class="col-sm-12 selectedCourseBlock block" style="padding: 0px">
                	<div class="currCourse">
						<h3>
							I want to {% if userType == "REQUESTER" %} receive{% else %} take{% endif %} notes for 
							<div id="currCourse">...</div>
							<button type="submit" class="btn btn-style">Add Course to Schedule</button>
						</h3>
					</div>
                </div>

                <div class="col-sm-12 mySchedule block">
                	<div class="titleBlock">
						My Schedule
					</div>
					<div class="scroll">
						{% for course in myCourses %}
							<div class="enrolledCourse" crn="{{course['crn']}}">
								<button class="btn btn-danger btn-sm delete" id="{{course['crn']}}">X</button>
								{{course.subject}} {{course.course_number}} section {{course.section}}
							</div>
						{% endfor %}
					</div>
                </div>
            </div>
        </div>
        <a href="my-classes" class="btn matchButton" role="button">Check Matched Classes</a>
</form>
