/*-----------admin-view.html nav blocks--------*/
span{
	vertical-align: middle;
	display: inline-block;
	line-height: 500px; /*this value needs to be same as the height of triblock*/
	font-size: 3em;
	background-color: rgba(2, 61, 123, 0.95);
	width: 100%;
}

.triBlock0{
	color: white;
	height: 500px;
	text-align:center;
}

.triBlock0 a{
	color:white;
}

.triBlock0 a:hover{
	color:white;
	font-weight: bold; /* turns bold when hover; we can change this to change colors or something instead*/
}

.triBlock0:nth-child(odd){
	padding: 0px; /*this keeps the gaps between the items*/
}

/*----------Tables for the admin pages----------*/
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;*/
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-default {
  /*border-color: #ddd;*/
  
  border-top-style: solid;
  border-top-color: #0F0D01;
  /*border-right-style: solid;*/
  /*border-bottom-style: dotted;*/
  /*border-left-style: solid;*/
  /*border-color: #B5B6B8;*/
  /*border-radius: 8px;*/
}
.panel-default > .panel-heading {
  color: #EEB211;
  background-color: #252518;
  border-color: #ddd;
}
.panel-default > .panel-heading > .panel-body {
  border-top-color: #ddd;
}
.panel-body {
  color: #2A281E;
}

/*--------------admin pages links (top of each page)---------------------*/
#adminLinks{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 350px; /*we need a set width to center it; this width is roughly the size of all 3 buttons*/
	margin-bottom: 10px;
}

#adminLinks a{
	background-color: rgba(2, 61, 123, 0.95);
	color: white;
}

#adminLinks a:hover{
	background-color: rgb(2, 53, 104);
}
