footer {
  border-top: .05rem solid #e5e5e5;
  padding-left: 1rem;
  padding-right: 1rem;
  /*padding-top: 1.5rem;*/
  margin-top: 1.5rem;
  background-color: rgb(238, 178, 17);
  color: #000;
  clear: both;
}

#scribeFooter {
	display:block;
	background-color: rgb(169, 170, 174);
	color: #fff;
	/*padding-bottom: 0px;
	margin-bottom: 0px;*/
	/*padding:1rem;*/
}

footer .text {
  padding: 0 15px 15px 15px;
}

footer img {
	max-width: 150px;
	max-height: 100px;
}

@media screen and (min-width: 48em) {
  footer {
    padding-right: 0;
    padding-left: 0;
  }
}