/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

header {
  border-bottom: .05rem solid #e5e5e5;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Make the masthead heading the same height as the navigation */
header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  header {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  header {
    margin-bottom: 2rem;
  }
}