/* Everything but the jumbotron gets side spacing for mobile first views */
.options {
  padding-right: 1rem;
  padding-left: 1rem;
}

.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: .05rem solid #e5e5e5;
  text-align: center;
  padding: 40px 20px 40px 20px;
  margin-bottom: 0px;
}

.jumbotron h1 {
  margin-bottom: 1rem;
}

.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

.dropdown {
  width: 190px;
  margin: auto;
}

.btn-style {
  color: #000;
  margin: 0 10px 0 10px;
  width: 135px;
  opacity: 0.8;
}

.btn-style:hover {
  opacity: 1.0;
}

#black-btn {
  background: #000;
  color: #fff;
}

#gold-btn {
  background: #EEB211;
  color: #000;
}

/* Supporting marketing content */
.options {
  margin:0;
  padding-top: 1rem;
  background-color: rgba(2, 61, 123, 0.95);
  color: white;
}
.options p + h4 {
  margin-top: 1.5rem;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .options {
    padding-right: 0;
    padding-left: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*---------this is mirrored in admin.css----------------------*/
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;*/
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-default {
  /*border-color: #ddd;*/
  
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  border-color: #B5B6B8;
  border-radius: 8px;
}
.panel-default > .panel-heading {
  color: #fff;
  background-color: #252518;
  border-color: #ddd;
}
.panel-default > .panel-heading > .panel-body {
  border-top-color: #ddd;
}
.panel-body {
  color: #2A281E;
}