.courses tr{
	cursor: pointer;
}

.doubleCol:nth-child(odd){
	padding-left: 0px; /*this keeps the gaps between the items*/
}
.doubleCol:nth-child(even){
	padding-right: 0px; /*this keeps the gaps between the items*/
}

#matches{
	background-color: #eeeeee;
	overflow: scroll;

}

#unmatched{
	background-color: #eeeeee;
	overflow: scroll;
}

span{
	
	height: 400px;	
	display: block;
	padding: 10px;
}

/*makes table rows blue*/
.table-striped.courses>tbody>tr>td, 
.table-striped.courses>tbody>tr>th {
    background-color: rgba(2, 61, 123, 0.95);
    color: white;
}
.table-striped.courses>tbody>tr>td:hover, 
.table-striped.courses>tbody>tr>th:hover {
    background-color: rgb(2, 53, 104);
}