.courses tr{
	cursor: pointer;
}

.doubleCol:nth-child(odd){
	padding-left: 0px; /*this keeps the gaps between the items*/
}
.doubleCol:nth-child(even){
	padding-right: 0px; /*this keeps the gaps between the items*/
}

#matches{
	background-color: #eeeeee;
	overflow: scroll;

}

#unmatched{
	background-color: #eeeeee;
	overflow: scroll;
}

span{
	
	height: 400px;	
	display: block;
	padding: 10px;
}

/*Want to make the matched table w the blue link colors, but doesn't seem to work*/
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgb(2, 53, 104);
}