.select-courses-title {
	margin-bottom: 20px;
	text-align: center;
}

.block:nth-child(odd){
	padding: 0px;
}

.titleBlock {
	display: block;
	color: rgb(238, 178, 17); /*georgia tech yellow*/
	background-color: black;
	padding: 12px;
	text-align: center;
}

/*use this to anchor the 123 circles*/
.titleBlock .step{
	z-index: 999;
	position: relative;
}

/*the 123 circles*/
.titleBlock h1{
	display: block;
	color: black;
	background-color: rgb(238, 178, 17);
	width: 50px;
	height: 50px;
	webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	margin-left: 5px;
	margin-top: -20px; /*the more negative this number, the higher up the circle will go*/
}

/*the grey area with all the lists*/
.scroll {
	height: 300px;
	overflow: scroll;
	display: block;
	background-color: #eeeeee; /*rgb(169, 170, 174); /* the grey color */
	padding: 3px 0;
}

.subject, .number, .section, .enrolledCourse{
	padding-left: 10px;
	padding-top: 5px;
}

/*"I want to take notes for...*/
.selectedCourseBlock {
	height: 75px;
	padding-top: 20px;
	text-align: center;
}

.currCourse h3 {
	margin-bottom: 15px;
}

#currCourse {
	display: inline;
}

.currCourse button{
	/*display: inline;*/
	float: right;
	opacity: 0.8;
	background: #EEB211;
}

/*scroll box for my schedule is smaller than the course listings*/
.mySchedule .scroll{
	height: 200px;
}

/*courses in "my schedule"*/
.enrolledCourse {
	display: block;
	margin-bottom: 5px;
}

.matchButton{
	background-color: rgba(2, 61, 123, 0.95);
	float: right;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

a.matchButton{
	color: white;
}

.matchButton:hover{
	background-color: rgb(2, 53, 104);
}