.select-courses-title {
	margin-bottom: 20px;
	text-align: center;
}

/* Select courses */
#selectClass {
	/*width: 80%;*/
	/*margin: auto;*/
}

.block{
	padding: 0px;
}

.titleBlock {
	display: block;
	color: rgb(238, 178, 17); /*georgia tech yellow*/
	background-color: black;
	/*padding: 12px;*/
	text-align: center;
}

.titleBlock .step{
	/*padding: 12px;*/
	z-index: 999;
	position: relative;
}

.titleBlock h1{
	display: block;
	color: black;
	background-color: rgb(238, 178, 17);
	width: 50px;
	height: 50px;
	webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	margin-left: 5px;
	margin-top: -8px;
}

.scroll {
	/*width: 100%;*/
	height: 300px;
	overflow: scroll;
	display: block;
	background-color: #eeeeee; /*rgb(169, 170, 174); /* the grey color */
}

.courseBlock {
	float: left;
	/*display: block;*/
	/*width: 30%;*/
	/*height: 100%;*/
	text-align: center;
}

.courseSubject, .courseNumber {
	/*margin-right: 3%;*/
}

/*.selectedCourseBlock {
	height: 60px;
	display:block;
	margin: auto;
	padding: 5px;
	clear: both;
	vertical-align: text-bottom;
}

.selectedCourseBlock {
	height: 75px;
	padding-top: 20px;
	text-align: center;
}*/

.currCourse h3 {
	margin-bottom: 15px;
}

#currCourse {
	display: inline;
}

.currCourse button{
	display: inline;
	float: right;
}

.selectedCourseBlock button {
	opacity: 0.8;
	background: #EEB211;
}

.mySchedule {
	/*width: 55%;*/
	margin: auto;
	/*min-height: 200px;*/
	/*background-color: rgb(169, 170, 174);*/
	display: block;
	clear:both;
}

.mySchedule .scroll{
	width: 100%;
	height: 200px;
	display: block;
	background-color: #eeeeee;/*rgb(169, 170, 174);*/
	overflow: scroll;
}

/*#selectClass ol {
	list-style-type: none;
}*/

.scroll {
	/*padding: 3px 0;*/
}

.enrolledCourse {
	display: block;
	/*width: 100%;
	padding: 20px;*/
	margin-bottom: 5px;
}

.matchButton{
	background-color: rgba(2, 61, 123, 0.95);
	float: right;
	display: block;
}

a.matchButton{
	color: white;
}

.matchButton:hover{
	background-color: rgb(2, 53, 104);
}