.upload-btn{
	float: right;
}

#noteHistory{
	width: 100%;
}

.upload{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

th, td {
	text-align: center;
}

#contactButton{
	background-color: rgba(2, 61, 123, 0.95);
	color: white;
}

#contactButton:hover{
	background-color: rgb(2, 53, 104);
}

.col:nth-child(odd){
	padding-left: 0px;
}
.col:nth-child(even){
	padding-right: 0px;
}

span{
	background-color: #eeeeee;
	display: block;
	padding: 10px;
	height: 400px;
}

.upload-download{
	background-color: rgb(238, 178, 17);
	opacity: 0.8;
}

.upload-download:hover{
	opacity: 1.0;
}

a.upload-download{
	background-color: rgb(238, 178, 17);
	color: black;
}

a.upload-download:hover{
	background-color: #EEB211;
	
}