<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Note taking and requesting app for GaTech">
    <meta name="author" content="GTScribe">
    
    <!-- Title -->
    <title>Admin | GTScribe</title>
    
    <!-- Stylesheets -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/header.css" rel="stylesheet">
    <link href="/styles/footer.css" rel="stylesheet">

     <!-- JavaScript: jQuery, Tether, Bootstrap, then GTScribe -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body class="container">
	  <header class="clearfix">
      <div class="row">
        <div class="col-xs-6">
         <h3 class="text-muted">GTScribe</h3>
        </div>
        <div class="col-xs-6" style="float:right; width:auto">
          <h3>Hello, Admin!</h3>
        </div>
      </div>
	  </header>
	  <main>You should be doing some admin stuff here</main>
	  <footer>
	    <p>&copy; GTScribe 2016</p>
	  </footer>
  </body>
</html>